<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="headLayout :: head"></div>
<link rel=stylesheet href=//cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css>
    <link th:href="@{/css/chunk-vendors.a775eba8.css}" rel=preload as=style>
    <link th:href="@{/js/app.2fad2889.js}" rel=preload as=script>
    <link th:href="@{/js/chunk-vendors.fe905e5e.js}" rel=preload as=script>
    <link th:href="@{/css/chunk-vendors.a775eba8.css}" rel=stylesheet>
  <body>
    <header>
    
  </header>
  <div class="container-fluid">
    <div class="row">
      <th:block th:if=${!isFullScreen}>
      <div th:replace="sideBarMenuLayout :: sideBarMenu(homeListClass='nav-item',todayListClass='nav-item',thisMonthListClass='nav-item',lastMonthListClass='nav-item',last3MonthsListClass='nav-item',byDateRangeListClass='nav-item',homeLinkClass='nav-link text-danger',todayLinkClass='nav-link',thisMonthLinkClass='nav-link',lastMonthLinkClass='nav-link',last3MonthsLinkClass='nav-link',byDateRangeLinkClass='nav-link')"> </div>
    </th:block>
            <main  id="mainContent" role="main" th:class="${isFullScreen?'col-md-12 ml-sm-auto col-lg-12 px-md-1':'col-md-9 ml-sm-auto col-lg-10 px-md-1'}">
              <div class="col-md-12">
                <div id="mainHeading" class="row px-2">
                  <div class="col-1 text-primary">
                    <span id="sideMenuArrow" style="visibility: hidden;cursor: pointer;" class="fa fa-arrow-right fa-fw mr-3 text-dark" onclick="showSideBar()"></span>
                  </div>
                  <div class="col-11">
                  <span class="h3">DASHBOARD </span><span class="h6">Overview of Sales, Products & Targets</span>
                  </div>
                  
                </div>
                <div class="album py-3 px-2 bg-light">
                  <div class="row">
                    <div class="col-md-12">
                      <noscript><strong>We're sorry but client doesn't work properly without JavaScript enabled. Please enable it to
                              continue.</strong></noscript><div id=app></div>
                          </div>
                  </div>
                </div>
              </div>
            </main>
      </div>
  </div>
  
        <!-- Footer -->
<footer class="footer mt-auto py-3">
  <div th:replace="footerLayout :: footer"> </div>
</footer>
   <script th:src="@{/js/chunk-vendors.fe905e5e.js}"></script>
        <script th:src="@{/js/app.2fad2889.js}"></script>
</body>
    </html>