<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark collapse" th:fragment="sideBarMenu(homeListClass,todayListClass,thisMonthListClass,lastMonthListClass,last3MonthsListClass,byDateRangeListClass,homeLinkClass,todayLinkClass,thisMonthLinkClass,lastMonthLinkClass,last3MonthsLinkClass,byDateRangeLinkClass)">
    <div class="sidebar-sticky pt-3">
      <ul class="nav flex-column">
        <li th:class="${homeListClass}">
          <a th:class="${homeLinkClass}" th:href="@{/admin/home}" >
            <span class="fas fa-home fa-fw mr-3"></span>
            Home
          </a>
        </li>
        <div class="dropdown-divider"></div>
      </ul>
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Dashboards</span>
        <a class="d-flex align-items-center text-muted text-warning" href="#" onclick="javascript:hideSideBar()" aria-label="Add a new report">
          <span class="fa fa-arrow-left fa-fw mr-3 text-warning"></span>
        </a>
      </h6>
      <ul class="nav flex-column mb-2">
        <li th:class="${todayListClass}">
          <a th:class="${todayLinkClass}" th:href="@{/admin/chartToday}">
            <span class="fas fa-chart-pie fa-fw mr-3"></span>
            Today
          </a>
        </li>
        <li th:class="${thisMonthListClass}">
          <a th:class="${thisMonthLinkClass}" th:href="@{/admin/chartMonthToDate}">
            <span class="far fa-chart-bar fa-fw mr-3"></span>
            Current month
          </a>
        </li>
        <li th:class="${lastMonthListClass}">
          <a th:class="${lastMonthLinkClass}" th:href="@{/admin/chartLastMonth}">
            <span class="fas fa-chart-area fa-fw mr-3"></span>
            Last month
          </a>
        </li>
        <li th:class="${last3MonthsListClass}">
          <a th:class="${last3MonthsLinkClass}" th:href="@{/admin/chartLastThreeMonths}">
            <span class="fas fa-chart-line fa-fw mr-3"></span>
            Last 3 months
          </a>
        </li>
        <li th:class="${byDateRangeListClass}">
          <a th:class="${byDateRangeLinkClass}" href="#">
            <span class="fa fa-calculator fa-fw mr-3"></span>
            By Date Range
          </a>
          <div th:class="${byDateRangeLinkClass}">
            <!-- Form code begins -->
            <form method="post">
            <div class="input-group col-md-9 col-sm-6 col-lg-9 col-xs-12 mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend"><span class="fa fa-calculator"></span></span>
              </div>
              <input type='text' class="form-control datepicker" id='fromDateDatepicker' data-date-format="dd/mm/yyyy" placeholder="From Date" th:value="${fromDate}" readonly />
            </div>
            <div class="input-group col-md-9 col-sm-6 col-lg-9 col-xs-12 mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend"><span class="fa fa-calculator"></span></span>
              </div>
              <input type='text' class="form-control datepicker" id='toDateDatepicker' data-date-format="dd/mm/yyyy" placeholder="To Date" th:value="${toDate}" readonly />
            </div>
            <div class="form-group col-md-12 col-sm-12 col-lg-12 col-xs-12">
              <button class="btn btn-primary small" name="submitDateRange" type="button" id="submitDateRangeBtn">Show Dashboard</button>
              </div>
              <div class="invalid-feedback" style="display: none;">
                Please select from and to dates.
              </div>
          </form>
            </div>
            
            <!-- Form code ends --> 
       
           
        </li>
        </ul>
        </div>
        </nav>
  </html>