<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark collapse" th:fragment="sideBarMenu">
    <div class="sidebar-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item bg-info">
          <a class="nav-link text-warning" th:href="@{/admin/home}" >
            <span class="fas fa-home fa-fw mr-3"></span>
            Home
          </a>
        </li>
        <div class="dropdown-divider"></div>
      </ul>
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Dashboards</span>
        <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
          <span class="fas fa-tachometer-alt fa-fw mr-3"></span>
        </a>
      </h6>
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/chartToday}">
            <span class="fas fa-chart-pie fa-fw mr-3"></span>
            Today
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/chartMonthToDate}">
            <span class="far fa-chart-bar fa-fw mr-3"></span>
            Current month
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/chartLastMonth}">
            <span class="fas fa-chart-area fa-fw mr-3"></span>
            Last month
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/chartLastThreeMonths}">
            <span class="fas fa-chart-line fa-fw mr-3"></span>
            Last 3 months
          </a>
        </li>
        </ul>
        </div>
        </nav>
  </html>